@import url("https://fonts.googleapis.com/css2?fami1y=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

html{
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

body {
  /* overflow: hidden; */
  font-family: "Poppins", sans-serif; 

}

/* início do menu */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.342) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: white;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo img {
  vertical-align: middle;
}

.header .menu .head {
  display: none;
}

.header .menu ul {
  list-style: none;
}

.header .menu > ul > li {
  display: inline-block;
}

.header .menu > ul > li:not(:last-child) {
  margin-right: 40px;
}

.header .menu .dropdown {
  position: relative;
}

.header .menu a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 17px;
  color: black;
  line-height: 1.5;
  display: block;
}

.header .menu > ul > li > a {
  padding: 24px 0;
  transition: 1s;
}

.header .menu > ul > li > a:hover {
  color: #765ca7;
  transform: scale(1.1);
}

.header .menu > ul > .dropdown > a {
  padding-right: 15px;
}

.header .menu i {
  font-size: 10px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: black;
  top: calc(50% - 5px);
}

.header .menu > ul > li > i {
  right: 0;
}

.header .menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 15px 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px hsl(0, 0%, 0%, 0.5);
  z-index: 1;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
}

.header .menu li:hover > .sub-menu {
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.5s ease;
}

.header .menu .sub-menu a {
  padding: 6px 24px;
}

.header .menu .sub-menu .dropdown > a {
  padding-right: 34px;
}

.header .menu .sub-menu span {
  background-image: linear-gradient(#8c52ff, #8c52ff);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}

.header .menu .sub-menu li:hover > a > span {
  background-size: 100% 2px;
}

.header-right {
  display: flex;
}

.header-right > * {
  margin-left: 25px;
}

.header-right .icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #8c52ff;
  font-size: 18px;
  transition: 0.9s;
}
.header-right .icon-btn:hover {
  transform: scale(1.1);
  margin-bottom: 5px;
  transition: ease-in;
}
.header-right .open-menu-btn {
  display: none;
}

/* fim do menu */

/* início index */

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
	
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}


@keyframes surgir {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes go-back {
  0% {
      transform: translateX(100px);
  }
  100% {
      transform: translateX(0);
  }
}

.containersobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  width: 100%;
  overflow: hidden;
  margin-top: 10%;
}

.text-containersobre {
  flex: 1;
  text-align: left;
}

.text-containersobre h1 {
  color: #000000;
  font-size: 3rem;
  font-family: 'Montserrat',sans-serif;
}

.text-containersobre p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.image-containersobre {
  flex: 1;
  text-align: center;
}

.image-containersobre img {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 2%;
}

@media (max-width: 768px) {
  .containersobre {
      flex-direction: column;
  }

  .text-containersobre,
  .image-container {
      flex: 1;
      text-align: center;
  }
}





.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  animation: go-back 2s, surgir 3s;
  
}

.home-text {
  max-width: 37rem;
}

.home-text .text-h4 {
  font-size: 1.5em;
  color: #8c52ff;
  margin-bottom: 1rem;
}

.home-text .text-h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
}

.home-text p {
  margin-bottom: 2.5rem;
}

.home-btn {
  padding: 15px 45px;
  background-color: #8c52ff;
  color: #ffff;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.5;
  text-decoration: none;
}

.home-btn:hover {
  opacity: 0.9;
}

.home-img img {
  width: 100%;
  animation: float 5s infinite;
  filter: drop-shadow(15px 9px 40px #8c52ff6b);
  margin-left: 5%;
}





.englobac {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: rgb(250,250,252);
  background: linear-gradient(180deg, rgba(250,250,252,1) 0%, rgba(234,234,236,1) 49%, rgba(225,225,228,1) 100%);
}

.containerindex {
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.imageindex {
  max-width: 30%;
  margin-right: 20px;
  visibility: hidden;
}

.content {
  flex-grow: 1;
}

.content h1 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.content p {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.content a {
  align-items: center;
  justify-content: center;
}

.home-btn2 {
  padding: 15px 45px;
  background-color: #8c52ff;
  color: #ffff;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.5;
  text-decoration: none;
}

.color1{
  color: #8c52ff;
}

.color2{
  color: #FFDE59;
}

.content h1{
 font-weight: 700;
 
}

.englobacard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.container-card {
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  
}

.container-card h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  font-size: 3rem;
  text-transform: uppercase;
}

.container-card .card {
  position: relative;
  padding: 10px;
  width: 300px;
  height: 550px;
  margin: 20px;
    /* border: 1px solid black; */
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.733) 0px 1px 2px 0px, rgba(60, 64, 67, 0.411) 0px 2px 6px 2px;
}

.container-card .card img {
  transition: 0.5s;
}

.container-card .card h1 {
  font-size: 2rem;
}

.container-card .card .conteudocard {
  padding: 20px;
  text-align: center;
}

.container-card .card .conteudocard p {
  color: #020202;
  transition: 0.5s;
  font-size: 1.2rem;
}

.container-card .card .conteudocard a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 0.2cm;
}

.container-card .card .conteudocard a.nintendo {
  background-color: #FF0000;
  color: #FFFFFF;
}

.container-card .card .conteudocard a.playstation {
  background-color: #0066cc;
  color: #FFFFFF;
}

.container-card .card .conteudocard a.xbox {
  background-color: #107C10;
  color: #FFFFFF;
  
}


.container-card .card:hover img {
  filter: invert(1);
}

.container-card .card:hover .conteudocard p {
  filter: invert(1);
}

.container-card .card.nintendo:hover {
  background-color: #fd0000;
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #fd0000;
  border-color: #000000;
}

.container-card .card.playstation:hover {
  background-color: #486EB2;
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #486EB2;
  border-color: #486EB2;
}

.container-card .card.xbox:hover {
  background-color: #028d4a;
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #028d4a;
  border-color: #028d4a;
}


@media (max-width: 785px) {
  .home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
    margin-top: 2%;
  }

  .home .text-h4{
    font-size: 15px;
  }

  .home .text-h1{
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .home p { 
    font-size: 15px;
  }

  .home-img{
    width: 140%;
  }

  .home-img img{
    width: 100%;
  }

  .imageindex{
    display: none;
  }
}



/* fim do index */
h3 {
  color: #000000;
}

/* início do footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 80px;
  background-color: #ffff;
  filter: drop-shadow(15px 9px 20px #8c52ff69);
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper .footer-widget {
  width: calc(20% - 30px);
  margin: 0 15px 50px;
  padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
  width: calc(40% - 50px);
  margin-right: 15px;
}

.wrapper .footer-widget .logo {
  margin-bottom: 30px;
  vertical-align: middle;
}

.wrapper .footer-widget p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.wrapper .footer-widget .socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
  list-style: none;
}

.wrapper .footer-widget .socials li a {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: #ffff;
  background-color: #765ca7;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
  background-color: #8a6cc2;
}

.wrapper .footer-widget h6 {
  color: #585978;
  margin: 10px 0 35px;
  font-size: 20px;
  font-weight: 600;
}

.wrapper .footer-widget .links li {
  list-style: none;
}

.wrapper .footer-widget .links li a {
  color: #585978;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 32px;
  transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
  color: #765ca7;
}

.copyright-wrapper {
  padding: 20px 0;
  border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p {
  color: rgba(88, 89, 120, 0.6);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copyright-wrapper p a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
  color: #765ca7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin-top: 5%;
}

.close {
  color: #fff;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

/* fim do footer */

/* início responsividade geral */

@media (max-width: 991px) {
  .header {
    padding: 12px 0;
  }

  .header .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    padding: 15px 30px 30px;
    overflow-y: auto;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 0 30px hsl(0, 0%, 0%, 0.5);
    transform: translateX(100%);
  }

  .header .menu.open {
    transform: none;
  }

  .header .menu .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .header .menu .close-menu-btn {
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .header .menu .close-menu-btn::before,
  .header .menu .close-menu-btn::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #8c52ff;
    margin-top: 100%;
  }

  .header .menu .close-menu-btn::before {
    transform: rotate(45deg);
  }

  .header .menu .close-menu-btn::after {
    transform: rotate(-45deg);
  }

  .header .menu > ul > li {
    display: block;
  }

  .header .menu > ul > li:not(:last-child) {
    margin-right: 0;
  }

  /* .header .menu li{
    border-bottom: 1px solid #8C52FF;
  }

  .header .menu li:first-child{
    border-top: 1px solid #8C52FF;
  } */

  .header .menu > ul > li > a {
    padding: 12px 0;
  }

  .header .menu > ul > .dropdown > a {
    padding-right: 34px;
    transition: 0.5s;
  }

  .header .menu > ul > .dropdown > a:hover {
    padding-right: 34px;
    color: #765ca7;
  }

  .header .menu i {
    height: 34px;
    width: 34px;
    border: 1px solid #9a9a9e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
    top: 7px;
  }

  .header .menu .dropdown.active > i {
    transform: rotate(180deg);
  }

  .header .menu .sub-menu {
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
    padding: 0;
    transition: none;
    box-shadow: none;
    width: 100%;
    display: none;
  }

  .header .menu .dropdown.active > .sub-menu {
    display: block;
  }

  .header .menu .sub-menu li:last-child {
    border: none;
  }

  .header .menu .sub-menu a {
    padding: 12px 0 12px 15px;
  }
  .header .menu .sub-menu a:hover {
    padding: 12px 0 12px 15px;
    color: #765ca7;
  }

  .header .menu .sub-menu span {
    background-image: none;
  }

  .header .menu .sub-menu i {
    transform: none;
    right: 0;
  }

  .header-right .open-menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 44px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: none;
  }

  .header-right .open-menu-btn .line {
    height: 2px;
    width: 30px;
    background-color: #8c52ff;
    position: absolute;
  }

  .header-right .open-menu-btn .line-1 {
    transform: translateY(-8px);
  }

  .header-right .open-menu-btn .line-3 {
    transform: translateY(8px);
  }
}

@media screen and (max-width: 768px) {
  #footer_conteudo {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_conteudo {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

/* fim da responsividade */
